.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 1920px;
	height: 100vh;
	padding: 20px;
}

.background {
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageBG {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 10%;
	right: 10%;
}

.imageBG picture {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.imageBG img {
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
}

.imageLeft {
	position: absolute;
	left: 5%;
	width: 25%;
	aspect-ratio: 1;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 5px var(--black-bg);
}

.imageRight {
	position: absolute;
	right: 5%;
	width: 25%;
	aspect-ratio: 1;
	background-size: cover;
	background-position: center;
	border: solid 1px black;
	box-shadow: 0 0 5px var(--snow-transparent);
}

.contentWrapper {
	z-index: 10;
	width: 40%;
	text-shadow: 2px 2px 3px var(--black-bg);
	background: #33333370;
	border-radius: 10px;
}

.aboutWrapper {
	padding: 8px 0;
}

.title {
	text-align: center;
}

.description {
	padding: 32px;
}

.description p {
	font-size: 18px;
}

.contactWrapper {
	padding-top: 8px;
}

.social {
	display: flex;
	justify-content: center;
	padding: 8px;
}

.socialItem {
	padding: 0 8px;
	transition: all 0.2s ease-out;
}

.socialItem:hover {
	transform: scale(1.05);
}

.socialItem a {
	color: var(--snow);
	font-size: 32px;
	cursor: pointer;
}

@media only screen and (max-width: 1096px) {
	.imageBG {
		right: auto;
		left: auto;
		width: 100%;
		max-width: 100%;
	}

	.imageLeft {
		width: 30%;
	}

	.imageRight {
		width: 30%;
	}

	.contentWrapper {
		width: 30%;
	}

	.description p {
		font-size: 16px;
	}

	.email {
		font-size: 14px;
	}

	.socialItem a {
		font-size: 24px;
	}
}

@media only screen and (max-width: 800px) {
	.imageLeft {
		left: auto;
		right: 65%;
		width: 240px;
	}

	.imageRight {
		right: auto;
		left: 65%;
		width: 240px;
	}

	.contentWrapper {
		position: absolute;
		bottom: 20px;
		width: 80%;
	}

	.title {
		font-size: 18px;
	}

	.description {
		padding: 8px;
	}

	.description p {
		font-size: 12px;
	}
}

@media only screen and (max-width: 600px) {
	.imageLeft {
		left: auto;
		width: 200px;
	}

	.imageRight {
		right: auto;
		width: 200px;
	}
}

@media only screen and (max-width: 400px) {
	.imageLeft {
		left: auto;
		width: 180px;
	}

	.imageRight {
		right: auto;
		width: 180px;
	}
}
