.landingWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 10px;
}

.landingTilesWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.landingTile {
	position: relative;
	overflow: hidden;
}

.landingTileImage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 280px;
	border-radius: 3px;
	border: solid 1px var(--black-jet);
	box-shadow: var(--black-jet) 1px 1px 5px;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	aspect-ratio: 16/9;
}

.darkenBox {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	transition: all 0.2s linear;
}

.darkenBox:hover {
	background-color: #ffffff0b;
}

.landingTileTitle {
	color: var(--black-jet);
	text-shadow: 2px 2px 4px #000000;
}

.fontLarge {
	font-size: 96px;
}

.fontMedium {
	font-size: 64px;
}

@media only screen and (max-width: 1096px) {
	.landingTilesWrapper {
		gap: 16px;
	}

	.landingTileImage {
		height: 240px;
	}

	.fontLarge {
		font-size: 80px;
	}

	.fontMedium {
		font-size: 54px;
	}
}

@media only screen and (max-width: 940px) {
	.landingTilesWrapper {
		gap: 12px;
	}

	.landingTileImage {
		height: 200px;
	}

	.fontLarge {
		font-size: 64px;
	}

	.fontMedium {
		font-size: 42px;
	}
}

@media only screen and (max-width: 800px) {
	.landingTileImage {
		height: 180px;
	}

	.fontLarge {
		font-size: 52px;
	}

	.fontMedium {
		font-size: 34px;
	}
}

@media only screen and (max-width: 700px) {
	.landingTilesWrapper {
		gap: 10px;
	}

	.landingTileImage {
		height: 160px;
	}
}

@media only screen and (max-width: 620px) {
	.landingTilesWrapper {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.landingTileImage {
		height: 240px;
	}

	.fontLarge {
		font-size: 80px;
	}

	.fontMedium {
		font-size: 54px;
	}
}

@media only screen and (max-width: 500px) {
	.landingTileImage {
		height: 200px;
	}

	.fontLarge {
		font-size: 64px;
	}

	.fontMedium {
		font-size: 42px;
	}
}

@media only screen and (max-width: 400px) {
	.landingTilesWrapper {
		gap: 8px;
	}

	.landingTileImage {
		height: 160px;
	}

	.fontLarge {
		font-size: 52px;
	}

	.fontMedium {
		font-size: 34px;
	}
}

@media only screen and (max-width: 316px) {
	.landingTileImage {
		height: 120px;
	}

	.fontLarge {
		font-size: 48px;
	}

	.fontMedium {
		font-size: 32px;
	}
}

@media only screen and (max-width: 316px) {
	.landingTileImage {
		height: 100px;
	}

	.fontLarge {
		font-size: 42px;
	}

	.fontMedium {
		font-size: 28px;
	}
}
