.landingWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.landingTilesWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.landingTile {
	overflow: hidden;
}

.landingTileImage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 280px;
	max-height: 40vh;
	border-radius: 3px;
	border: solid 1px var(--black-jet);
	box-shadow: var(--black-jet) 1px 1px 5px;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	aspect-ratio: 16/9;
}

.landingTileTitle {
	color: var(--black-jet);
	/* text-shadow: 3px 2px 2px; */
}

@media only screen and (max-width: 768px) {
	.landingTilesWrapper {
		gap: 12px;
	}

	.landingTileImage {
		height: 200px;
	}

	.landingTileTitle {
		font-size: 24px;
	}
}

@media only screen and (max-width: 500px) {
	.landingTilesWrapper {
		gap: 10px;
	}

	.landingTileImage {
		height: 160px;
	}

	.landingTileTitle {
		font-size: 20px;
	}
}

@media only screen and (max-width: 360px) {
	.landingTilesWrapper {
		gap: 8px;
	}

	.landingTileImage {
		height: 140px;
	}

	.landingTileTitle {
		font-size: 16px;
	}
}

@media only screen and (max-width: 300px) {
	.landingTileImage {
		height: 120px;
	}
}
