.cardWrapper ul {
	display: flex;
}

.cardWrapper ul li {
	flex: 1 1 0px;
}

.imageWrapper {
	padding: 16px;
}

.image {
	width: 100%;
}

@media only screen and (max-width: 940px) {
	.imageWrapper {
		padding: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.imageWrapper {
		padding: 8px;
	}
}

@media only screen and (max-width: 500px) {
	.imageWrapper {
		padding: 6px;
	}
}

@media only screen and (max-width: 316px) {
	.imageWrapper {
		padding: 4px;
	}
}
