.buttonWrapper {
	position: fixed;
	width: 120px;
	height: 60px;
	top: -10px;
	right: 20px;
	border-radius: 10px;
	background-color: var(--black-transparent);
	box-shadow: 0px 0px 3px var(--snow-transparent);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	z-index: 10;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.buttonWrapper:hover {
	transform: translateY(5px);
	box-shadow: 0px 0px 4px var(--snow-transparent);
}

.buttonWrapper a {
	color: var(--platinum);
}

.gap {
	height: 15px;
}

@media only screen and (max-width: 600px) {
	.buttonWrapper {
		font-size: 20px;
		width: 108px;
		height: 54px;
	}
}
