/* CSS RESET */
@import url("./reset.css");
@import url("./variables.css");
@import url("./config.css");

@font-face {
	font-family: "BakbakOne";
	src: local("BakbakOne"),
		url("../../public/fonts/BakbakOne-Regular.ttf") format("truetype");
	font-weight: bold;
}

body {
	background-color: var(--black-bg);
}

.app {
	position: relative;
	max-width: var(--max-width-L);
	min-height: 100vh;
	margin: auto;
	text-align: center;
	overflow: hidden;
	color: var(--snow);
	font-family: "BakbakOne";
}

.hidden {
	display: none !important;
}
